html {
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
 
}


:root {
  --typingDuration: 3.2s;
  --typedCharacters: 16;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Code Pro', monospace;
}


body {
   text-align: center;
}

section {
  background-color: #b7cebd;
  border: solid black 1px;
}




.nav-bar {
  margin-top: 20px;
   border: solid black 1px;
}


ul  {
  list-style-type: none;
}


ul a {
  text-decoration: none;

}



nav a:hover {
  text-decoration: underline;
  color: rgb(127, 191, 211);
}


.hero-section {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  background-color: #2b9348;
  color: whitesmoke;
  font-size: 38px;
  text-align: center;
}

.navbar {
  width: 100%;
  background-color: red;
  /* position: sticky; */
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: .5em;
  background-color: transparent;
}

.about-me-section {
  height: 100vh;
  background-color: whitesmoke;
  color: rgb(24, 4, 4);
  font-size: 38px;
  background-color: #ad1818
}



.projects-section {
  height: 100vh;
  color: whitesmoke;
  font-size: 38px;
  position: relative;
  background-color: #000000;
}

.projects-section::before{
  content: "";
  background-image: url("IMAGES/coding_screen_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;

}

.skillset-section {
  height: 100vh;
  background-color: whitesmoke;
  color: rgb(24, 4, 4);
  font-size: 38px;
}


.contact-me-section {
  height: 100vh;
  background-color: #000000;
  color: whitesmoke;
  font-size: 38px;
}

#typed-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 74px;;
  
}

h1 {
  position: relative;
  /* font-family: 'Source Code Pro', monospace; */
  width: max-content;
  border: solid black 1px;
}

h1::before, h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
  background: #2b9348;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards;
}

h1::after {
  width: 0.1em;
  background:whitesmoke;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards,
  cursor 750ms infinite;
  
}

#intro-text {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);
  border: solid black 1px;
}
@keyframes typing {
  to { 
    left: 100%
  }
}

@keyframes cursor {
  to {
    background: transparent
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}