html {
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
 
}


:root {
  --typingDuration: 3.8s;
  --typedCharacters: 16;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Code Pro', monospace;
}


body {
   text-align: center;
}

section {
  background-color: #5abfd8;
  border: solid black 1px;
}




.navi-bar {
  margin-top: 20px;
   /* border: solid black 1px; */
}


ul  {
  list-style-type: none;
}

nav ul a {
  transition: background-color 20s;}
ul a {
  text-decoration: none;

}

nav {
  background-color: #2b9348;
  color: #5abfd8;
  
}

nav a:hover {
  text-decoration: underline;
  color: rgb(11, 77, 97);
}


.hero-section {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  background-color: #2b9348;
  color: whitesmoke;
  font-size: 38px;
  text-align: center;
}

.navi-bar {
  width: 100%;

  /* position: sticky; */
}

.navi-items {
  display: flex;
  justify-content: space-evenly;
  font-size: .5em;
  background-color: transparent;
}

.about-me-section {
  height: 140vh;
  background-color: rgb(63, 165, 212);
  color: rgb(24, 4, 4);
  font-size: 38px;
 
  /* background-image: url("/IMAGES/kona_surf_session.jpg"); */
  background-size: cover;
}



.projects-section {
  /* height: 100vh; */
  color: rgb(126, 30, 30);
  font-size: 22px;
  position: relative;
  background-color: #000000;
}

.projects-section::before{
  content: "";
  background-image: url("/IMAGES/coding_screen_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;

}

.skillset-section {
  height: 100vh;
  background-color: whitesmoke;
  color: rgb(24, 4, 4);
  font-size: 38px;
}


.contact-me-section {
  height: 100vh;
  background-color: #000000;
  color: whitesmoke;
  font-size: 38px;
}

#typed-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 74px;;
  
}

h1 {
  position: relative;
  /* font-family: 'Source Code Pro', monospace; */
  width: max-content;
  /* border: solid black 1px; */
}

h1::before, h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
  background: #2b9348;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards;
}

h1::after {
  width: 0.1em;
  background:whitesmoke;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards,
  cursor 750ms infinite;
  
}

#intro-text {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);
  /* border: solid black 1px; */
}
@keyframes typing {
  to { 
    left: 100%
  }
}

@keyframes cursor {
  to {
    background: transparent
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}









.project-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}

.accor {
  margin: 0px 0px 0 0px;
  box-shadow: 0 0 24px -10px; 
  width: 350px;
  background-color: #000000;
  border:none;
}

.pic-div {
  margin: 0px 0px 0 0px;
  box-shadow: 0 0 20px -10px; 
  width: 350px;
}

.collapsible-header {
  background-color: #000000;
  -webkit-tap-highlight-color: black;
  border: none;
}

.collabsible-body {
  background-color: transparent;
  border: none;

}
.card {
  background-color: #000000;
  box-shadow: 0 0 24px -10px rgb(231, 46, 14); 
}