html {
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
 
}


:root {
  --typingDuration: 3.8s;
  --typedCharacters: 15;
    color: whitesmoke;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Code Pro', monospace;
}


body {
   text-align: center;
}

section {
  
  border: solid black 2px;
 
}




.navi-bar {
  margin-top: 20px;
   /* border: solid black 1px; */
}


ul  {
  list-style-type: none;
}

nav ul a {
  transition: background-color 20s;
  font-size: 1.1rem;
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 4.1s);
}

ul a {
  text-decoration: none;
 

}

nav {
  background-color: #2b9348;
  color: #5abfd8;
  box-shadow: none;
  /* webkit-box-shadow: none; */
  
}

nav a:hover {
  text-decoration: underline;
  color: rgb(11, 77, 97);
}


.hero-section {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  background-color: #2b9348;
  color: whitesmoke;
  font-size: 38px;
  text-align: center;
}

.navi-bar {
  width: 100%;

  /* position: sticky; */
}

.navi-items {
  /* display: flex; */
  /* justify-content: space-evenly; */
  font-size: .5em;
  background-color: transparent;
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.navi-items li {

  padding: 0px 70px;
  text-align: center;
 


  
}
.about-me-section {
  height: 140vh;
  /* background-color: rgb(12, 118, 218); */
  background-color: #020218ef;
  color: rgb(194, 11, 11);
  font-size: 38px;
  border: solid black 1px;
 /* background-image: url("/IMAGES/kona_surf_session.jpg"); */
  background-size: cover;
}


#kona-pic {
  border: solid black 1px;
  border-radius: 10% 10%;
}

.projects-section {
  /* height: 100vh; */
  color: rgb(194, 11, 11);
  font-size: 22px;
  position: relative;
  background-color: #020218ef;
}

.projects-section::before{
  content: "";
  /* background-image: url("/IMAGES/coding_screen_small.jpg"); */
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;

}

.skillset-section {
  height: 100vh;
  background-color: rgb(202, 202, 202);
  color: rgb(24, 4, 4);
  font-size: 38px;
}


.contact-me-section {
  height: 100vh;
  background-color: #2b9348;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(17, 8, 3);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: left;
}
/* .contact-form {
  width: 22vw;
} */

input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
  font-family: inherit;
  border: solid;
  /* border: solid black 1px; */
  border-style: inset;
  width: 100%;
  background-color: whitesmoke;
  font-size: 60%;
 
}



textarea {
  font-family: inherit;
  border: solid;
  /* border: solid black 1px; */
  border-style: inset;
  resize: none;
  height: 18vh;
  width: 100%;
  background-color: whitesmoke;
  font-size: 60%;
}

textarea:focus-visible{
  outline: none;
}

label {
  font-size: .8rem;
  color: inherit;
}

.submit-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#submit-button {
  padding: 4px 20px;
  border-radius: .4em;
  color: whitesmoke;
  border: solid rgba(3, 80, 3, 0.658) 1px;
  background-color: #185328b4;
  font-weight: 300;
}
#typed-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 12px;;
  
}

h1 {
  position: relative;
  /* font-family: 'Source Code Pro', monospace; */
  width: max-content;
  /* border: solid black 1px; */
  font-weight: 200;
  margin-top: 10vh;
}

h1::before, h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
  background: #2b9348;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards;
}

h1::after {
  width: 0.04em;
  background:whitesmoke;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards,
  cursor 750ms infinite;
  
}

h2 {
  margin-top: 2vh;
  margin-bottom: 8vh;
  font-weight: 300;

}

#intro-text {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);
  /* border: solid black 1px; */
  font-weight: 200;
  margin-bottom: 2vh;
}

#svg8 {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);

}
@keyframes typing {
  to { 
    left: 100%
  }
}

@keyframes cursor {
  to {
    background: transparent
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}



.project-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}

.accor {
  margin: 0px 0px 0 0px;
  box-shadow: 0 0 24px -10px; 
  width: 350px;
  background-color: #05021d;
  border:none;
  text-align: center;
 
}

.pic-div {
  margin: 0px 0px 0 0px;
  /* box-shadow: 0 0 10px -10px;  */
  width: 350px;
}

.collapsible-header {
  background-color: #05021d;
  -webkit-tap-highlight-color: black;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.collabsible-body {
  background-color: transparent;
  border: none;

}
.card {
  background-color:  #05021d;
  box-shadow: 0 0 24px -10px rgb(194, 11, 11);
  
}